html.mybackground body {
    background: linear-gradient(to bottom, #030815, #041b36);
}

.reveal td {
    vertical-align: top;
}

.reveal {
    background-image: url("/img/stars.svg");
    background-position: top left;
    background-size: 800px;
    background-repeat: no-repeat;
}

.reveal pre {
    /*font-size: 0.7em;*/
}