html.mybackground body {
    background: linear-gradient(to bottom, #030815, #041b36);
}

.reveal td {
    vertical-align: top;
}

.reveal {
    background-image: url("/img/stars.svg");
    background-position: top left;
    background-size: 800px;
    background-repeat: no-repeat;
}

.reveal pre {
    /* font size of the code examples */
    font-size: 0.60em;
}
.reveal pre code {
    max-height: 600px;
}

.reveal .remko {
    color: chartreuse;
}

.reveal .martijn {
    color: gold;
}


/* Changes the color of the Siteworks logo */
.logo path {
    fill: #ffc627
}